<ion-modal-view>
  <ion-header-bar class="bar-positive">
    <h1 class="title">Seleccionar Favorito</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="modal_favoritos.hide()"><i class="icon ion-close"></i></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <ion-list ng-if="favoritos.length > 0">
      <ion-item ng-repeat="f in favoritos" ng-click="clickFavorito($index)">{{f.nombre}}</ion-item>
    </ion-list>
    <div style="display:table;height:100%;width:100%" ng-if="favoritos.length == 0">
      <div style="display:table-cell;vertical-align:middle;height:100%;text-align:center">
        Todavía no marcaste ningún punto favorito.
        <br>
        Podés hacerlo tocando sobre el mapa.
      </div>
    </div>
  </ion-content>
  <ion-footer-bar>
    <div class="buttons">
    </div>
    <h1 class="title"></h1>
    <div class="buttons">
      <button class="button button-assertive" ng-click="modal_favoritos.hide()">Cancelar</button>
    </div>
  </ion-footer-bar>
</ion-modal-view>
