/* Empty. Add your own CSS if you like */
body {
  height: auto;
  min-height: 100%;
}

.scroll-bar-indicator.scroll-bar-fade-out {
  /*opacity: 1;*/
}

.bar-stable.bar-top {
  border-bottom: none;
  background-image: none;
}
.item-input-inset {
  position: absolute;
}
.bar-stable .button .icon.ion-search::before {
  font-size: 20px;
}
.bar-stable h1.title {
  cursor: pointer;
}


.scroll, .angular-leaflet-map {
  height: 100%;
}

.leaflet-bottom {
  bottom : 10px;
}

.item.item-body p {
  margin-top: 0;
}

.tabs.border-top {
  border-top: 1px solid #ddd !important;
}

#mapa {
  height: 100%;
  display:block;
}

.menu-open ion-side-menu-content {
  opacity: 0.8;
}
.menu-open ion-side-menus {
  background: black;
}


/* leaflet markers */
div.leaflet-marker-icon {
    margin-left: -25px !important;
    margin-top: -60px !important;
    width: 50px !important;
    height: 60px !important;
    opacity: 1 !important;
}

.leaflet-marker-icon {
  -webkit-transition: height .4s ease;
     -moz-transition: height .4s ease;
       -o-transition: height .4s ease;
          transition: height .4s ease;
  -webkit-transition: margin .4s ease;
     -moz-transition: margin .4s ease;
       -o-transition: margin .4s ease;
          transition: margin .4s ease;
}

div.leaflet-marker-icon.leaflet-drag-target.markerA,
div.leaflet-marker-icon.leaflet-drag-target.markerB {
    margin-left: -25px !important;
    margin-top: -55px !important;
    width: 50px !important;
    height: 60px !important;
}

div.leaflet-marker-icon.markerA {
    background: url(../img/markerA.png);
}

.markerA.leaflet-drag-target {
    background: url(../img/markerA-drag.png) !important;
}

div.leaflet-marker-icon.markerB {
    background: url(../img/markerB.png);
}

div.leaflet-marker-icon.markerB.leaflet-drag-target {
    background: url(../img/markerB-drag.png);
}



div.markerFavorito {
  margin-left: -15px !important;
  margin-top: -15px !important;
  width: 30px !important;
  height: 30px !important;
  opacity: 1 !important;
  font-size: 20px;
}
div.markerFavorito:before {
    content: "\f24e";
    display: inline-block;
    font-family: "Ionicons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    line-height:30px;
    width:30px;
    height:30px;
    color: #FEFEFE;
    text-shadow:
     2px  0px 1px #ef5734,
    -2px  0px 1px #ef5734,
     0px  2px 1px #ef5734,
     0px -2px 1px #ef5734,
     1px  1px 1px #ef5734,
    -1px -1px 1px #ef5734,
     1px -1px 1px #ef5734,
    -1px  1px 1px #ef5734;
  }


div.location-marker {
  border: 1px solid #428bca;
  background-color: #5bc0de;
  height: 16px !important;
  width: 16px !important;
  border-radius: 8px;
  margin: -8px 0 0 -8px !important;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  animation: fadeIn 0.5s infinite alternate;
}

div.location-marker.red {
  background-color: red;
}

@keyframes fadeIn { 
  0% { opacity: 1; } 
  50% { opacity: 1; } 
  75% { opacity: 1; } 
  100% { opacity: 0.5; } 
}

.leaflet-popup-close-button {
  display: none;
}
.leaflet-popup-content-wrapper {
  border-radius: 2px;
  overflow: hidden;
  padding: 0;
}
.leaflet-popup-content {
  margin: 0;
}
.leaflet-popup-content .withimgs ion-item img {
  height: 38px;
  position: absolute;
  bottom: 13px;
  left: 13px;
}
.leaflet-popup-content .withimgs ion-item {
  padding-left: 50px;
}
.leaflet-popup-content .bar-stable {
  border: none;
}
.leaflet-popup-content .bar-stable .button {
  border: none;
}

.leaflet-contextmenu {
  padding: 0;
  border-radius: 0;
}
.leaflet-contextmenu a.leaflet-contextmenu-item {
  border-color: #ddd;
  background-color: #fff;
  color: #444;
  position: relative;
  z-index: 2;
  display: block;
  margin: -1px;
  padding: 16px;
  border-width: 1px;
  border-style: solid;
  font-size: 16px;
}
img.leaflet-contextmenu-icon {
  margin: -13px 8px 0 0;
  width: auto;
  height: 38px;
}
.leaflet-contextmenu-separator {
  margin: 1px 0;
}

ion-spinner {
  display: block;
  margin: 8px auto;
}

.popover {
  height: auto !important;
  width: auto !important;
}

div.contextmenu-marker-icon {
  margin-left: -15px !important;
  margin-top: -27px !important;
  width: 30px !important;
  height: 30px !important;
  opacity: 1 !important;
  font-size: 20px;
}

div.contextmenu-marker-icon:before {
  content: "\f1ff";
  display: inline-block;
  font-family: "Ionicons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  line-height:30px;
  width:30px;
  height:30px;
  color: #FEFEFE;
  text-shadow:
   2px  0px 1px #555,
  -2px  0px 1px #555,
   0px  2px 1px #555,
   0px -2px 1px #555,
   1px  1px 1px #555,
  -1px -1px 1px #555,
   1px -1px 1px #555,
  -1px  1px 1px #555;
}

ion-pull-up-handle {
  border-radius: 5px 5px 0px 0px;
  top: -15px !important;
}

.radioContainer {
  position: absolute;
  z-index: 1000;
  background: #f8f8f8;
  height: 58px;
  width: 100%;
}
.radioContainer > .range {
  margin-left: 52px;
}
.radioContainer > span {
  position: absolute;
  z-index: 10;
  display: block;
  line-height: 58px;
  width: 52px;
  text-align: center;
  vertical-align: middle;
}

.item.activated {
  background-color: white;
}
.item.highlight {
  background-color: #eef;
}