/* Empty. Add your own CSS if you like */
body {
  height: auto;
  min-height: 100%;
}

.scroll, .angular-leaflet-map {
  height: 100%;
}

.leaflet-bottom {
  bottom : 10px;
}

.item.item-body p {
  margin-top: 0;
}

.tabs.border-top {
  border-top: 1px solid #ddd !important;
}

map {
  height: 100%;
  display:block;
}

div.location-marker {
    border: 1px solid #428bca;
    background-color: #5bc0de;
    height: 16px !important;
    width: 16px !important;
    border-radius: 8px;
    margin: -8px 0 0 -8px !important;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}