/* Empty. Add your own CSS if you like */
body {
  height: auto;
  min-height: 100%;
}


.bar-stable h1.title {
  cursor: pointer;
}


.scroll, .angular-leaflet-map {
  height: 100%;
}

.leaflet-bottom {
  bottom : 10px;
}

.item.item-body p {
  margin-top: 0;
}

.tabs.border-top {
  border-top: 1px solid #ddd !important;
}

#mapa {
  height: 100%;
  display:block;
}

.menu-open ion-side-menu-content {
  opacity: 0.8;
}
.menu-open ion-side-menus {
  background: black;
}


/* leaflet markers */

div.leaflet-marker-icon {
    margin-left: -25px !important;
    margin-top: -60px !important;
    width: 50px !important;
    height: 60px !important;
    opacity: 1 !important;
}

.leaflet-marker-icon {
  -webkit-transition: height .4s ease;
     -moz-transition: height .4s ease;
       -o-transition: height .4s ease;
          transition: height .4s ease;
  -webkit-transition: margin .4s ease;
     -moz-transition: margin .4s ease;
       -o-transition: margin .4s ease;
          transition: margin .4s ease;
}

div.leaflet-marker-icon.leaflet-drag-target.markerA,
div.leaflet-marker-icon.leaflet-drag-target.markerB {
    margin-left: -25px !important;
    margin-top: -55px !important;
    width: 50px !important;
    height: 60px !important;
}

div.leaflet-marker-icon.markerA {
    background: url(../img/markerA.png);
}

.markerA.leaflet-drag-target {
    background: url(../img/markerA-drag.png) !important;
}

div.leaflet-marker-icon.markerB {
    background: url(../img/markerB.png);
}

div.leaflet-marker-icon.markerB.leaflet-drag-target {
    background: url(../img/markerB-drag.png);
}


div.location-marker {
  border: 1px solid #428bca;
  background-color: #5bc0de;
  height: 16px !important;
  width: 16px !important;
  border-radius: 8px;
  margin: -8px 0 0 -8px !important;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  animation: fadeIn 0.5s infinite alternate;
}

div.location-marker.red {
  background-color: red;
}

@keyframes fadeIn { 
  0% { opacity: 1; } 
  50% { opacity: 1; } 
  75% { opacity: 1; } 
  100% { opacity: 0.5; } 
}
